#top-label p {
    width: 150px;
    height: 20px;
    border-color: black;  
    border-width: .1em;  
    border-style: solid;
    display: inline-block;
}

#container{
    display: flex;
}

#top-label{
    margin-left: 50px;
}

.place {
    flex: 1;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 0px;
    width: 150px;
    height: 200px;
    border-color: black;  
    border-width: .1em;  
    border-style: solid;
}

.place h2{
    margin-left: 105px;
}

.place p{
    margin-left: 80px;
    margin-bottom: 30px;
    padding-top: 20px;
}

.button {
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 100px;
}

.green{
    color: green;
}

#activities p {
    margin-top: 5px;
    width: 1417px;
    height: 1000px;
    border-color: black;  
    border-width: .1em;  
    border-style: solid;
}

#activities {
    margin-left: 50px;
}
#box{
    border-color: black;  
    border-width: .1em;  
    border-style: solid;
}